body {
  font-family: system-ui, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.malla {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

.materia {
  padding: 12px;
  border-radius: 10px;
  background: #ffffff;
  border: 2px solid #ddd;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.materia:hover {
  transform: scale(1.02);
}

/* estados */
.aprobada {
  background: #c8f7c5;
  border-color: #4caf50;
  text-decoration: line-through;
}

.bloqueada {
  background: #e0e0e0;
  color: #777;
  cursor: not-allowed;
  border-style: dashed;
}

.pensum {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.materia.bloqueada {
  background: #e0e0e0;
  color: #888;
  cursor: not-allowed;
  pointer-events: none;
  border: 2px dashed #aaa;
}

.anio {
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
}

