body {
  font-family: system-ui, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

:root {
  --title: #880d1e;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--title);
}

.year h2 {
  color: var(--title);
}

.year h3 {
  color: var(--title);
  letter-spacing: 0.5px;
}

.malla {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.materia {
  padding: 12px;
  border-radius: 10px;
  background: #ffffff;
  border: 2px solid #ddd;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.materia:hover {
  transform: scale(1.02);
}

/* estados */
.aprobada {
  background: #f49cbb;
  border: 2px solid #f26a8d;
  color: #4a0d24;
  text-decoration: line-through;
  font-weight: 600;
}

.bloqueada {
  background: #e0e0e0;
  color: #777;
  cursor: not-allowed;
  border-style: dashed;
}

.pensum {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: flex-start;
}

.materia.bloqueada {
  background: #e0e0e0;
  color: #888;
  cursor: not-allowed;
  pointer-events: none;
  border: 2px dashed #aaa;
}

.year {
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}
